langchain
unstructured[all-docs]
pandas 
numpy 
scikit-learn
langchain-together
langchain_core
langchain-community
flask
python-dotenv
pydantic
nltk
pillow
celery
chromadb==0.6.3
redis
redisgraph
flashrank
torch
torchvision
torchaudio
openai-whisper
#video
pyspellchecker
paddleocr
paddlepaddle
opencv-python
moviepy
langchain_ollama
uuid6
transformers
sentence_transformers
opik==1.3.5
litellm
aiohttp>=3.9.3
beautifulsoup4>=4.12.3
asyncio
networkx>=3.2.1
pyvis>=0.3.0
faiss-cpu>=1.7.4
playwright
spacy==3.7.5
igraph
python-igraph
leidenalg
node2vec
lida
lida[infographics]
hf_xet
psycopg2-binary
crawl4ai
lxml
vanna
biomcp-python>=0.1.10
uv>=0.1.32
python-Levenshtein
crewai
crewai_tools