langchain>=0.3.7
unstructured>=0.18.21
pandas>=2.3.0
numpy>=1.26.0
scikit-learn>=1.8.0
langchain-together>=0.2.0
langchain_core==0.3.15
langsmith>=0.1.125
openai>=1.99.5
langchain-community>=0.3.5
flask>=3.1.2
python-dotenv>=1.2.1
pydantic>=2.12.5
nltk>=3.9.2
pillow==10.4.0
celery>=5.6.0
chromadb==0.6.3
redis==5.0.4
redisgraph>=2.3.0
flashrank>=0.2.10
torch>=2.9.1
torchvision>=0.24.1
torchaudio>=2.9.1
openai-whisper>=20250625
#video
pyspellchecker>=0.8.4
paddleocr>=3.3.2
paddlepaddle>=3.2.2
opencv-python>=4.11.0.86
moviepy>=2.2.1
langchain_ollama>=0.2.0
uuid6>=2025.0.1
transformers>=4.57.3
sentence_transformers>=5.2.0
opik==1.3.5
litellm==1.77.3
aiohttp>=3.9.3
beautifulsoup4>=4.12.3
asyncio>=4.0.0
nest-asyncio>=1.6.0
networkx>=3.6.1
pyvis>=0.3.2
faiss-cpu>=1.13.1
playwright>=1.57.0
spacy==3.7.5
igraph>=1.0.0
python-igraph>=1.0.0
leidenalg>=0.11.0
node2vec>=0.5.0
lida==0.0.14
hf_xet>=1.2.0
psycopg2-binary>=2.9.11
crawl4ai==0.7.6
lxml>=5.4.0
vanna[chromadb]>=0.7.9
biomcp-python>=0.1.10
uv>=0.9.18
uvloop==0.21.0
python-Levenshtein>=0.27.3
SQLAlchemy>=2.0.35
python-pptx
crewai>=0.95.0
crewai_tools>=0.76.0
psutil>=7.1.3
