langchain
unstructured[all-docs]
pandas 
numpy 
scikit-learn
langchain
langchain.community
together
langchain-together
langchain_core
pytesseract
flask
python-dotenv
pydantic
nltk
pillow
celery
chromadb
redis
flashrank